*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #0b8899; (250, 212, 218)
}
#container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgb(255, 250, 250);
    border: 1px solid #000000;  (240, 159, 159)
}

#header {
    height: 145px;
    background: #b5b7bb; 
}

#logo {
    padding: left;
    float: left;
    margin-left: 20px;
}
#logo img {
    float: left;
    height: 100px;
}
#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(156, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px rgb(0, 0, 0);
    transition: all 300ms;
}
#logo a:hover {
    text-shadow: 0px 2px 1px rgb(4, 250, 156);
    
}

/*menu*/;
#menu{
    clear: both;
    background: #222;
    color: rgb(255, 255, 255);
    height: 55px;
    border-bottom: 4px solid #b8c9dd;

}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #003674;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}
#menu a:first-child{
    border-left: 1px solid #003674;

}
#menu a:hover{
    background: #003674;

}
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
    border: 1px solid #003674;

}

#lateral{
    width: 20%;
    min-height: 600px;
    border: 1px solid #003674;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px solid #b8c9dd;

}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border : 1px solid #000000;


}
