{
    padding: 0px;
    margin: 0px;
    front-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-color: #a0a3b8;
    color: #333333;
    line-height: 1.6;
}
#Container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid #973b3b;  
}