{
    
    padding: 0px;
    margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #4fd4ac; (71, 82, 129)

}
#container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid #4fd4ac;  
    /*boeder: 1px solid #4fd4ac;*/
    background: white;
}

#header{
    height: 145px;
    background: #f0f0f0; 
}